<p>Add Vehicle Details</p>
<ul class="breadcrumb">
  <li class="breadcrumb-item">
    <a [routerLink]="['/dashboard']">Home</a>
  </li>
  <ng-container>
    <li class="breadcrumb-item" [routerLink]="['/master/vehicle-detail/list']"><a href="javascript:"> Vehicle
        Details</a>
    </li>
    <li class="breadcrumb-item"><a href="javascript:">{{screenName}}</a></li>
  </ng-container>
</ul>
<div class="row">
  <div class="col-xl-12">
    <form [formGroup]="vehicleFormDetails" autocomplete="off">
      <h5>Image Caps</h5>
      <hr>
      <app-card [hidHeader]="true" class="list-panel add-panel">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
              <label>FC Date <span class="text-danger">*</span></label>
              <input type="text" [owlDateTime]="dt1" class="form-control" [owlDateTimeTrigger]="dt1"
                placeholder="Select Fc Date" formControlName="fcDate">
              <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
              <div *ngIf="formSubmitted && f.fcDate.errors" class="invalid-feedback">
                <div *ngIf="f.fcDate.errors.required">FC Date is required</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
              <label>Insurance Date<span class="text-danger">*</span></label>
              <input type="text" [owlDateTime]="dt2" class="form-control" [owlDateTimeTrigger]="dt2"
                placeholder="Select Insurance Date" formControlName="insuranceDate">
              <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
              <div *ngIf="formSubmitted && f.insuranceDate.errors" class="invalid-feedback">
                <div *ngIf="f.insuranceDate.errors.required">Insurance Date is required</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
              <label>Pollution Date<span class="text-danger">*</span></label>
              <input type="text" [owlDateTime]="dt3" class="form-control" [owlDateTimeTrigger]="dt3"
                placeholder="Select Pollution Date" formControlName="polutionDate">
              <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
              <div *ngIf="formSubmitted && f.polutionDate.errors" class="invalid-feedback">
                <div *ngIf="f.polutionDate.errors.required">Pollution Date is required</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
              <label>Remarks<span class="text-danger">*</span></label>
              <input type="text" formControlName="remarks" class="form-control"
                [ngClass]="{ 'is-invalid': formSubmitted && f.remarks.errors }" placeholder="Enter Remarks" />
              <div *ngIf="formSubmitted && f.remarks.errors" class="invalid-feedback">
                <div *ngIf="f.remarks.errors.required">Remarks are required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
              <label>Status<span class="text-danger">*</span></label>
              <select formControlName="status" class="form-select"
                [ngClass]="{ 'is-invalid': formSubmitted && f.status.errors }">
                <option value="" disabled>Select Status</option>
                <option value="Active">Active</option>
                <option value="InActive">InActive</option>
              </select>
              <div *ngIf="formSubmitted && f.status.errors" class="invalid-feedback">
                <div *ngIf="f.status.errors.required">Status is required</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
              <label>Tax Date<span class="text-danger">*</span></label>
              <!-- <input type="text" formControlName="taxDate" class="form-control" bsDatepicker
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-blue' }"
                [ngClass]="{ 'is-invalid': formSubmitted && f.taxDate.errors }" /> -->
              <input type="text" [owlDateTime]="dt4" class="form-control" [owlDateTimeTrigger]="dt4"
                placeholder="Select Tax Date" formControlName="taxDate">
              <owl-date-time [pickerType]="'calendar'" #dt4></owl-date-time>
              <div *ngIf="formSubmitted && f.taxDate.errors" class="invalid-feedback">
                <div *ngIf="f.taxDate.errors.required">Tax Date is required</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
              <label>Vehicle Color<span class="text-danger">*</span></label>
              <input type="text" formControlName="vehicleColor" class="form-control"
              placeholder="Enter Vehicle color"  [ngClass]="{ 'is-invalid': formSubmitted && f.vehicleColor.errors }" />
              <div *ngIf="formSubmitted && f.vehicleColor.errors" class="invalid-feedback">
                <div *ngIf="f.vehicleColor.errors.required">Vehicle Color is required</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
              <label>Vehicle Name<span class="text-danger">*</span></label>
              <input type="text" formControlName="vehicleName" class="form-control"
             placeholder="Enter Vehicle name"   [ngClass]="{ 'is-invalid': formSubmitted && f.vehicleName.errors }" />
              <div *ngIf="formSubmitted && f.vehicleName.errors" class="invalid-feedback">
                <div *ngIf="f.vehicleName.errors.required">Vehicle Name is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
              <label>Vehicle Number<span class="text-danger">*</span></label>
              <input type="text" formControlName="vehicleNumber" class="form-control"
               placeholder="Enter Vehicle number" [ngClass]="{ 'is-invalid': formSubmitted && f.vehicleNumber.errors }"
                (keydown)="spaceNotAllowd($event)" />
              <div *ngIf="formSubmitted && f.vehicleNumber.errors" class="invalid-feedback">
                <div *ngIf="f.vehicleNumber.errors.required">Vehicle Number is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-lg-12 text-end">
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-success" (click)="submit()">Submit</button>
              <button type="button" class="btn btn-outline-secondary" [routerLink]="['/master/vehicle-detail/list']"
                (click)="back()">Back</button>

            </div>
          </div>
        </div>
      </app-card>
    </form>
  </div>
</div>


<app-ui-modal #submitPopUp [hideFooter]="true" [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h5 class="modal-title">Confirm</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
      (click)="submitPopUp.hide()"><span aria-hidden="true">&times;</span></button>
  </div>

  <div class="app-modal-body">
    <p>Are you sure whant submit?</p>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" [disabled]="btnLoder" (click)="finalSubmit()">
        <i class="fa" [ngClass]="{'fa-spin fa-asterisk': btnLoder, 'fa-check': !btnLoder}"></i>Yes
      </button>
      <button type="button" class="btn btn-outline-danger" (click)="onCancel()">
        <i class="feather icon-slash"></i> No
      </button>
    </div>
  </div>
</app-ui-modal>