<div class="row">
    <div class="col-xl-12">
        <form [formGroup]="driverFormSearchDetails" autocomplete="off">
            <!-- <h5>Driver Details</h5> -->
            <app-card [hidHeader]="true" class="list-panel add-panel">
                <h4>Search</h4>
                <div class="row">
                    <!-- Aadhar Number -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Aadhar Number </label>
                            <input type="text" formControlName="aadharNumber" class="form-control"
                                placeholder="Enter Aadhar Number" maxlength="12" required
                                (keypress)="keyPress($event)" />
                        </div>
                    </div>

                    <!-- Aadhar Number -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Driving License Number</label>
                            <input type="text" formControlName="drivingLicenseNumber" class="form-control"
                                placeholder="Enter Driving Licence Number" />
                        </div>
                    </div>

                    <!-- Aadhar Number -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Mobile Number </label>
                            <input type="text" formControlName="mobileNumber" class="form-control"
                                placeholder="Enter Mobiel Number" maxlength="10" (keypress)="keyPress($event)" />
                        </div>
                    </div>

                    <!-- Aadhar Number -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Driver Name</label>
                            <input type="text" formControlName="driverName" class="form-control"
                                placeholder="Enter Driver Name" />
                        </div>
                    </div>
                </div>

                <!-- Submit and Cancel buttons -->
                <div class="row mt-3">
                    <div class="col-lg-12 text-end">
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-info list-button-container" (click)="search()">
                                <span class="list-text-alaign-center">Submit</span>
                            </button>
                            <button type="button" class="btn btn-outline-secondary list-button-container"
                                (click)="onclear()"><span class="list-text-alaign-center">Clear</span></button>

                        </div>
                    </div>
                </div>

            </app-card>
        </form>
    </div>
</div>

<div class="outer-container">
    <div class="button-container">
        <button class="btn btn-outline-success list-button-container" [routerLink]="['/master/driver-detail/add']">
            <span class="list-text-alaign-center">Add</span>
        </button>
        <button class="btn btn-outline-secondary list-button-container" (click)="onEdit()" [disabled]="!editEnable">
            <span class="list-text-alaign-center">Edit</span>
        </button>
        <button class="btn btn-outline-warning list-button-container" (click)="onView()" [disabled]="!viewEnable">
            <span class="list-text-alaign-center">View</span>
        </button>
        <!-- <button (click)="onclear()">
            <span>Clear</span>
        </button> -->
    </div>
</div>

<!-- <app-card [hidHeader]="true" blockClass="table-border-style" class="list-panel">
    <div class="table-responsive text-center">
        <div class="example-table-container">
            <table mat-table [dataSource]="dataSource" class="table-design">
                <ng-container matColumnDef="serialNo">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> S.No </th>
                    <td mat-cell *matCellDef="let element; let i = index" class="text-center">
                        {{ i + 1 }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Driver Name </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.name }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="mobileNumber">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Mobile Number </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.mobileNumber }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="drivingLicenseNumber">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Driving License No </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.drivingLicenseNumber }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="aadharNumber">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Aadhar No </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.aadharNumber }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="district">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> District </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.district }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Status </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.status ? 'Active' : 'Inactive' }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Action </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <mat-radio-button (click)="onSelect(element)"></mat-radio-button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <div *ngIf="isLoading" class="table-loader">
                <mat-spinner diameter="64"></mat-spinner>
            </div>

            <mat-paginator [length]="totelCount" [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 50, 100]"
                (page)="pageEvent($event)">
            </mat-paginator>
        </div>
    </div>
</app-card> -->


<!-- Loader Template -->
<!-- <ng-template #loadingTemplate>
    <mat-spinner diameter="20"></mat-spinner>
</ng-template> -->

<app-mat-table-configuration [columns]="columns" [actionKeys]="actionKeys" [dataSource]="dataSource"
    [totalCount]="totelCount" [pageSize]="pageSize" (paginationEvent)="handlePagination($event)"
    (checkboxAction)="onChecked($event)">
</app-mat-table-configuration>



<div>

    <div class="row">
        <div class="col-xl-4 mt-2">
            <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Download
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0)" (click)="exportToExcel()">Excel</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0)" (click)="generatePDF()">PDF</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>