<div class="row">
    <div class="col-xl-12">
        <form [formGroup]="tripFormSearchDetails" autocomplete="off">
            <!-- Search Panel -->

            <app-card cardTitle="Trip Request Status" blockClass="table-border-style" class="search-panel">
                <div class="row"></div>
                <div class="row">
                    <!-- Trip Details -->
                    <div class="col dashboard_bg1">
                        <app-card [hidHeader]="true" cardClass="comp-card">
                            <div class="row align-items-center">
                                <div class="col">
                                    <span>Trip Details</span>
                                    <h3 class="mt-2">{{ tripDetailsCount?.total || '0' }}</h3>
                                    <i class="fas fa-external-link-alt"></i>
                                </div>
                            </div>
                        </app-card>
                    </div>

                    <!-- EAL Approved -->
                    <div class="col dashboard_bg4">
                        <app-card [hidHeader]="true" cardClass="comp-card">
                            <div class="row align-items-center">
                                <div class="col">
                                    <span>Total Approved</span>
                                    <h3 class="mt-2">{{ tripDetailsCount?.totalApproved || '0' }}</h3>
                                    <i class="fas fas fa-check"></i>
                                </div>
                            </div>
                        </app-card>
                    </div>

                    <!-- EAL Pending/Request for Clarification -->
                    <div class="col dashboard_bg2">
                        <app-card [hidHeader]="true" cardClass="comp-card">
                            <div class="row align-items-center">
                                <div class="col">
                                    <span>Total Request for Clarification</span>
                                    <h3 class="mt-2">{{ tripDetailsCount?.totalRequestforclarification || '0' }}</h3>
                                    <i class="fas fa-hourglass-half"></i>
                                </div>
                            </div>
                        </app-card>
                    </div>

                    <!-- EAL Rejected -->
                    <!-- <div class="col dashboard_bg7">
                        <app-card [hidHeader]="true" cardClass="comp-card">
                            <div class="row align-items-center">
                                <div class="col">
                                    <span>Total Rejected</span>
                                    <h3 class="mt-2">{{ tripDetailsCount?.totalRejected || '0' }}</h3>
                                    <i class="fas fa-external-link-alt"></i>
                                </div>
                            </div>
                        </app-card>
                    </div> -->
                </div>
            </app-card>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseOne">
                            Search
                        </button>
                    </h2>

                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingOne" data-bs-parent="#accordionPanelsStayOpenExample">
                        <div class="accordion-body">
                            <app-card [hidHeader]="true" class="list-panel add-panel">
                                <h4>Search</h4>
                                <div class="row">
                                    <!-- Driver Name -->
                                    <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="driverName">Driver Name</label>
                            <input type="text" id="driverName" formControlName="driverName" class="form-control"
                                placeholder="Enter Driver Name" />
                        </div>
                    </div> -->
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label>Driver Name<span class="text-danger">*</span></label>
                                            <select type="text" class="form-select" formControlName="driverName"
                                                placeholder="Enter Driver Name">
                                                <option value="" selected disabled>Select Driver Name</option>
                                                <option *ngFor="let driverListElemnt of driverList"
                                                    value="{{driverListElemnt?.name}}">
                                                    {{driverListElemnt?.name}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Driver Number -->
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="driverNumber">Driver Number</label>
                                            <input type="text" id="driverNumber" formControlName="driverNumber"
                                                class="form-control" placeholder="Enter Driver Number" />
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label>Trip No<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" formControlName="tripNo"
                                                placeholder="Enter Trip Number">
                                        </div>
                                    </div>

                                    <!-- From Date -->
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label>From Date</label>
                                            <div class="input-group">
                                                <input type="text" [owlDateTime]="dt3" class="form-control"
                                                    [owlDateTimeTrigger]="dt3" readonly [max]="maxDate"
                                                    placeholder="Select From Date" formControlName="fromDate">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary"
                                                        [owlDateTimeTrigger]="dt3">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                                        </div>
                                    </div>


                                    <!-- To Date -->
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label>To Date</label>
                                            <div class="input-group">
                                                <input type="text" [owlDateTime]="dt4" readonly [max]="maxDate"
                                                    class="form-control" [owlDateTimeTrigger]="dt4"
                                                    placeholder="Select To Date" formControlName="toDate" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary"
                                                        [owlDateTimeTrigger]="dt4">
                                                        <i class="fa fa-calendar"></i> <!-- Calendar icon -->
                                                    </button>
                                                </div>
                                            </div>
                                            <owl-date-time [pickerType]="'calendar'" #dt4></owl-date-time>
                                        </div>
                                    </div>

                                    <!-- Vehicle Number -->
                                    <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="vehicleNumber">Vehicle Number</label>
                            <input type="text" id="vehicleNumber" formControlName="vehiclenumber" class="form-control"
                                placeholder="Enter Vehicle Number" />
                        </div>
                    </div> -->
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label>Vehicle Number <span class="text-danger">*</span></label>
                                            <select type="text" class="form-select" formControlName="vehiclenumber"
                                                placeholder="Select Vehicle Number">
                                                <option value="" selected disabled>Select Vehicle Number</option>
                                                <option *ngFor="let vehicleListElement of vehicleList"
                                                    value="{{vehicleListElement.vehicleNumber}}">
                                                    {{vehicleListElement.vehicleNumber}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Status -->
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="status">Status</label>
                                            <select id="status" formControlName="status" class="form-select">
                                                <option value="" disabled selected>Select Status</option>
                                                <option value="APPROVED">APPROVED</option>
                                                <option value="INPROGRESS">IN PROGRESS</option>
                                                <option value="FORWARDED">FORWARDED</option>
                                                <option value="REQUESTFORCLARIFICATION">REQUEST FOR CLARIFICATION
                                                </option>
                                                <!-- <option value="REJECT">REJECT</option> -->
                                                <option value="SUBMITTED">SUBMITTED</option>
                                            </select>
                                        </div>
                                    </div>


                                </div>

                                <!-- Submit and Cancel buttons -->
                                <div class="row mt-3">
                                    <div class="col-lg-12 text-end">
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-outline-info list-button-container"
                                                (click)="search()"><span
                                                    class="list-text-alaign-center">Submit</span></button>
                                            <button type="button"
                                                class="btn btn-outline-secondary list-button-container"
                                                (click)="onclear()"><span
                                                    class="list-text-alaign-center">Clear</span></button>

                                        </div>
                                    </div>
                                </div>
                            </app-card>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>




<div class="outer-container">
    <div class="button-container">
        <!-- <button class="btn btn-outline-success list-button-container" [routerLink]="['/container/trip-detail/add']">
            <span class="list-text-alaign-center">Add</span>
        </button> -->
        <button class="btn btn-outline-secondary list-button-container" (click)="onEdit()" [disabled]="!editEnable">
            <span class="list-text-alaign-center">Edit</span>
        </button>
        <button class="btn btn-outline-warning list-button-container" (click)="onView()" [disabled]="!viewEnable">
            <span class="list-text-alaign-center">View</span>
        </button>
        <!-- <button (click)="onclear()">
            <span>Clear</span>
        </button> -->
    </div>
</div>

<!-- <app-card [hidHeader]="true" blockClass="table-border-style" class="list-panel">
    <div class="table-responsive text-center">
        <div class="example-table-container">
            <table mat-table [dataSource]="dataSource" class="table-design">
                <ng-container matColumnDef="serialNo">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> S.No </th>
                    <td mat-cell *matCellDef="let element; let i = index" class="text-center"> {{ i + 1 }} </td>
                </ng-container>

                <ng-container matColumnDef="tripNumber">
                    <th mat-header-cell *matHeaderCellDef class="text-center">Trip Number </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.tripNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="createdDate">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> CreatedDate </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.createdDate | date:
                        'dd-MM-yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="vehicleNumber">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> VehicleNumber </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.vehicleNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="customerName">
                    <th mat-header-cell *matHeaderCellDef class="text-center">CustomerName</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.customerName}} </td>
                </ng-container>

                <ng-container matColumnDef="visitingPlace">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> VisitingPlace </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.visitingPlace}} </td>
                </ng-container>

                <ng-container matColumnDef="driverName">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Driver Name </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.driverName}} </td>
                </ng-container>

                <ng-container matColumnDef="totalRent">
                    <th mat-header-cell *matHeaderCellDef class="text-center">TotalRent </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.totalRent}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Status </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <span class="badge m-r-5 badge-light-success"
                            *ngIf="element?.status == 'APPROVED'">{{element?.status}}</span>
                        <span class="badge m-r-5 badge-light-info"
                            *ngIf="element?.status == 'INPROGRESS'">{{element?.status}}</span>
                        <span class="badge m-r-5 badge-light-secondary"
                            *ngIf="element?.status == 'FORWARDED'">{{element?.status}}</span>
                        <span class="badge m-r-5 badge-light-warning "
                            *ngIf="element?.status == 'REQUESTFORCLARIFICATION'">{{element?.status}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Action </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <mat-radio-button (click)="onSelect(element)"></mat-radio-button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="isLoading" class="table-loader">
                <mat-spinner diameter="64"></mat-spinner>
            </div>
            <mat-paginator [length]="totelCount" [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 50, 100]"
                (page)="pageEvent($event)">
            </mat-paginator>
        </div>
    </div>
</app-card> -->

<app-mat-table-configuration [columns]="columns" [actionKeys]="actionKeys" [dataSource]="dataSource"
    [totalCount]="totelCount" [pageSize]="pageSize" (paginationEvent)="handlePagination($event)"
    (checkboxAction)="onChecked($event)">
</app-mat-table-configuration>

<div class="row">
    <div class="col-xl-4 mt-2">
        <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Download
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="javascript:void(0)" (click)="exportToExcel()">Excel</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" (click)="generatePDF()">PDF</a></li>
            </ul>
        </div>
    </div>
</div>