<div class="outer-container">
  <div class="button-container">
    <button [routerLink]="'/master/vehicle-detail/add'">
      <span>Add</span>
    </button>
    <button>
      <span>Edit</span>
    </button>
    <button>
      <span>View</span>
    </button>
    <button>
      <span>Clear</span>
    </button>
  </div>
</div>
<table mat-table [dataSource]="dataSource" class="vehicle-table">
  <!-- Serial No Column -->
  <ng-container matColumnDef="serialNo">
    <th mat-header-cell *matHeaderCellDef class="text-center"> S.No </th>
    <td mat-cell *matCellDef="let element; let i = index" class="text-center"> {{ i + 1 }} </td>
  </ng-container>

  <!-- Vehicle No Column -->
  <ng-container matColumnDef="vehicleNo">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Vehicle No </th>
    <td mat-cell *matCellDef="let element" class="text-center"> {{element.vehicleNo}} </td>
  </ng-container>

  <!-- Vehicle Name Column -->
  <ng-container matColumnDef="vehicleName">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Vehicle Name </th>
    <td mat-cell *matCellDef="let element" class="text-center"> {{element.vehicleName}} </td>
  </ng-container>

  <!-- Driver Name Column -->
  <ng-container matColumnDef="driverName">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Driver Name </th>
    <td mat-cell *matCellDef="let element" class="text-center"> {{element.driverName}} </td>
  </ng-container>

  <!-- District Column -->
  <ng-container matColumnDef="district">
    <th mat-header-cell *matHeaderCellDef class="text-center"> District </th>
    <td mat-cell *matCellDef="let element" class="text-center"> {{element.district}} </td>
  </ng-container>

  <!-- Phone No Column -->
  <ng-container matColumnDef="phoneNo">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Phone No </th>
    <td mat-cell *matCellDef="let element" class="text-center"> {{element.phoneNo}} </td>
  </ng-container>

  <!-- Header and Row Definitions -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="dataSource.data.length" [pageSize]="pageSize" [pageSizeOptions]="[10,15, 25, 50]"
  (page)="pageEvent($event)">
</mat-paginator>