<div class="row">
  <div class="col-xl-12">
    <form [formGroup]="vehicleFormSearchDetails" autocomplete="off">
      <!-- <h5>Driver Details</h5> -->
      <app-card [hidHeader]="true" class="list-panel add-panel">
        <h4>Search</h4>
        <div class="row">
          <!-- Aadhar Number -->
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
              <label>Vehicle Number </label>
              <input type="text" formControlName="vehicleNumber" class="form-control"
                placeholder="Enter Vehicle Number" />
            </div>
          </div>

          <!-- Aadhar Number -->
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
              <label>Vehicle Name</label>
              <input type="text" formControlName="vehicleName" class="form-control" placeholder="Enter Vehicle Name" />
            </div>
          </div>
        </div>

        <!-- Submit and Cancel buttons -->
        <div class="row mt-3">
          <div class="col-lg-12 text-end">
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-info list-button-container" (click)="search()"><span class="list-text-alaign-center">Submit</span></button>
              <button type="button" class="btn btn-outline-secondary list-button-container" (click)="onclear()"><span class="list-text-alaign-center">Clear</span></button>

            </div>
          </div>
        </div>

      </app-card>
    </form>
  </div>
</div>

<div class="outer-container">
  <div class="button-container">
    <button class="btn btn-outline-success list-button-container" [routerLink]="'/master/vehicle-detail/add'">
      <span class="list-text-alaign-center">Add</span>
    </button>
    <button class="btn btn-outline-secondary list-button-container" [disabled]="!editDisabled" (click)="edit()">
      <span class="list-text-alaign-center">Edit</span>
    </button>
    <button class="btn btn-outline-warning list-button-container" [disabled]="!viewDisabled" (click)="view()">
      <span class="list-text-alaign-center">View</span>
    </button>
    <!-- <button (click)="clearSelection()">
      <span>Clear</span>
    </button> -->
  </div>
</div>
<table mat-table [dataSource]="dataSource" class="table-design">
  <!-- Serial No Column -->
  <ng-container matColumnDef="serialNo">
    <th mat-header-cell *matHeaderCellDef class="text-center"> S.No </th>
    <td mat-cell *matCellDef="let element; let i = index" class="text-center"> {{ i + 1 }} </td>
  </ng-container>

  <!-- Vehicle No Column -->
  <ng-container matColumnDef="vehicleNo">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Vehicle No </th>
    <td mat-cell *matCellDef="let element" class="text-center"> {{element.vehicleNumber}} </td>
  </ng-container>

  <!-- Vehicle Name Column -->
  <ng-container matColumnDef="vehicleName">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Vehicle Name </th>
    <td mat-cell *matCellDef="let element" class="text-center"> {{element.vehicleName}} </td>
  </ng-container>

  <!-- Driver Name Column -->
  <ng-container matColumnDef="insuranceDate">
    <th mat-header-cell *matHeaderCellDef class="text-center">InsuranceDate </th>
    <td mat-cell *matCellDef="let element" class="text-center"> {{element.insuranceDate | date: 'dd-MM-yyyy'}} </td>
  </ng-container>

  <!-- District Column -->
  <ng-container matColumnDef="taxDate">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Tax Date </th>
    <td mat-cell *matCellDef="let element" class="text-center"> {{element.taxDate | date: 'dd-MM-yyyy'}} </td>
  </ng-container>

  <!-- Phone No Column -->
  <ng-container matColumnDef="fcDate">
    <th mat-header-cell *matHeaderCellDef class="text-center"> FC Date </th>
    <td mat-cell *matCellDef="let element" class="text-center"> {{element.fcDate | date: 'dd-MM-yyyy'}} </td>
  </ng-container>


  <!-- Phone No Column -->
  <ng-container matColumnDef="polutionDate">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Polution Date </th>
    <td mat-cell *matCellDef="let element" class="text-center"> {{element.polutionDate | date: 'dd-MM-yyyy'}} </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Action </th>
    <td mat-cell *matCellDef="let element" class="text-center">
      <mat-radio-button (change)="selectRecord(element)"></mat-radio-button>
    </td>
  </ng-container>



  <!-- Header and Row Definitions -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="totalCounts" [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 50, 100]"
  (page)="pageEvent($event)">
</mat-paginator>